# MMI monorepo CODEOWNERS file

# Default owner for everything in the repo
* @zone-live @albertolive @shane-t

# Specific directories
/packages/sdk @zone-live
/packages/custodyKeyring @zone-live
/packages/custodyController @albertolive
